// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userQuestion {
  margin: 20px;
}

.computerAnswer {
  margin: 20px;
  background-color: #fffde1;
  padding: 20px;
}
